<div style="display:none">{{description}}</div>
<div style="margin-top:0;" id="post-list" class="flex-grow-1 px-xl-1">
    <article class="flex-md-row-reverse post-preview card-wrapper card mt-3 mb-3">
        <a href="{{ url }}" class="post-preview flex-md-row-reverse row g-0 ">
            <div class="col-md-5">
                <div class="preview-img">
                    <img src="{{ image }}" loading="lazy">
                </div>
            </div>        
            <div class="col-md-7">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title my-2 mt-md-0">{{ title }}</h4>
                    <div class="card-text content mt-0 mb-3">
                        <p>{{ description | strip_html | truncate: 100 | escape  }}</p>
                    </div>
                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                            <i class="fa fa-retweet fa-fw me-1"></i>
                            <!-- posted date -->
                            <i class="fa fa-server fa-fw me-1"></i>     
                            <a href="//{{ domain }}" target="_blank">{{ domain }}</a>          
                            <!-- categories -->                  
                            <i class="fa fa-file fa-fw me-1"></i>
                            <span class="categories">
                                {{ type }}
                            </span>   
                            <!-- categories -->                   
                        </div>                    
                        </div>
                </div>
            </div>
        </a>
    </article>
</div>

